body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;  
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #663128;
}

.home {
    background-color: #FEF4DE;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
}

.logo {
    width: 35%;
}