body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #663128;
}

/* ul{

    list-style: none;
} */

.home {
  background-color: #fef4de;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vh;
  min-height: 100vh;
}

.poligono-cima {
  position: absolute;
}

.home .container {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-left: 15vw;
  padding-right: 15vw;
  align-items: center;
}

.home .container .msg {
  display: flex;
  flex-direction: column;
}

.home .container .msg .bigger {
  font-size: 80px;
  line-height: 118.5%;
  font-weight: 900;
}
.home .container .msg .big {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.435em;
}
.home .container .msg .space {
  padding: 10px;
}

.home .container .msg .space .help {
  width: 200px;
  height: 60px;
  border: none;
  background: #f3ce5e;
  border-radius: 57px;
  color: #663128;
  font-size: 16px;
  font-weight: bold;
}

.home .container .msg .space .aboutus {
  width: 200px;
  height: 60px;
  border: none;
  background: transparent;
  color: #663128;
  font-size: 16px;
}
.home .container .msg .logo {
  width: 90%;
}

.services {
  width: 100%;
  height: 100vh;
  background-color: #663128;
}

.services-container {
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  padding-top: 20px;
}

.services-container-header {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.services-container-box-img {
  width: 50%;
  padding: 20px;
}

.services-container-button {
  width: 200px;
  height: 60px;
  border: none;
  background: #f3ce5e;
  border-radius: 57px;
  color: #663128;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.comentarios{
  background-color: #fef4de;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.comentarios .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-left: 15vw;
  padding-right: 15vw;
  align-items: center;
}

.comentarios .container .header{
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #663128;
}

.comentarios .container .testymonials{
  display: flex;
  width: 100%;
  height: 500px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.comentarios .container .testymonials .coment{
  border: solid #7C4032 1px;
  width: 400px;
  height: 150px;
  background-color: #FFF;
  border-radius: 30px;
  margin-bottom: 35px;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

.contatos {
    width: 100%;
    height: 50vh;
    background-color: #ffffff;
}

.contatos .barra {
    background-color: #663128;
    width: 100%;
    height: 15%;
}

.contatos .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    padding-left: 15vw;
    padding-right: 15vw;
    align-items: center;
}

.contatos .container .header {
    font-size: 40px;
    font-weight: 1000;
    width: 100%;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #7C4032;
    padding-bottom: 45px;
    padding-top: 35px;
}

.contatos .container .conteudo {
    display: flex;
    
}

.contatos .container .campos  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contatos .container .campos .barra-redonda {
    background-color: #E5AF99;
    border-radius: 61px;
    width: 280px;
    margin-bottom: 10px;
    height: 45px;
}

.contatos .container .campos .enviar {
    width: 140px;
    height: 45px;
    border: 2px solid;
    background: #ffffff;
    border-radius: 57px;
    color: #663128;
    font-size: 11px;
    font-weight: bold;
}

.contatos .container .conteudo .informacoes{

    padding-top: 20px;
    padding-left: 60px;
    
}

.contatos .container .conteudo .informacoes li{

    margin: 10px;
    
}

.contatos .container .conteudo .informacoes .email{
    
    list-style-image: url("../img/email.png");
    padding-left: 15px;
}
.contatos .container .conteudo .informacoes .telefone{
    
    list-style-image: url("../img/telefone.png");
    padding-left: 15px;
}

.contatos .container .conteudo .informacoes .location{
    
    list-style-image: url("../img/location.png");
    padding-left: 15px;
}